dotenv
langchain-groq
langchain
langgraph
deepagents
pandas
numpy
matplotlib
seaborn
langchain-agent
langchain-google-genai
streamlit
langchain-ollama
fastapi
uvicorn
seaborn
pandas
scikit-learn
xgboost
